.shippingContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.checkout {
  margin-top: 50px;
}

.shippingBox {
  margin-top: 8vmax;
  /* margin-bottom: 15vmax; */
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid black;
  /* margin-bottom: 5vmax; */
  padding-bottom: 3vmax;
}

.shippingForm > div > input,
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 600 1.2vmax "Roboto";
  outline: none;
}
.shippingBox > form > div > svg {
  position: absolute;
  font-size: 1.6vmax;
  margin-top: 1vmax;
  margin-left: 1vmax;
  margin-bottom: 1vmax;
  align-items: center;
  color: black;
}

.shippingHeading {
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 50%;
  margin: auto;
}

.shippingBtn {
  border: none;
  background-color:  rgb(255, 0, 76);
  color: white;
  font: 500 2vmax "Roboto";
  width: 80%;
  padding: 1vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  margin: 2vmax;
  text-align: center;
}

.shippingBtn:hover {
  background-color:  rgb(163, 0, 49);;
}

@media only screen and (max-width: 600px) {
  .shippingBox {
    width: 70%;
  }

  .shippingBox > form > div > svg {
    font-size: 2vmax;
    margin-top: 1.5vmax;
    margin-bottom: 1.5vmax;
  }

  .shippingForm > div > input,
  .shippingForm > div > select {
    font: 400 1.5vmax "Roboto";
  }
}
