.passwordField {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 600 1.2vmax "Roboto";
  outline: none;
}
