.whatsApp {
  position: fixed;
  bottom: 2%;
  left: 3%;
  z-index: 1000;
}



.whatsApp > a > button {
 background-color: rgb(255, 0, 76);
 border-radius: 100%;
}
.whatsApp > a > button:hover {
  background-color: rgb(255, 0, 76);
}


.whatsApp > a > button > svg {
  color:  white;
  font-size: 4vmax;
  font-weight: 900;
}

@media only screen and (max-width: 800px) {
  .whatsApp > button > svg {
    color: white;
    font-size: 16vmax !important;
    font-weight: 900;
  }
  .whatsApp > a > button {
    background-color: rgb(255, 0, 76);
    height: 8vmax;
    width: 8vmax;
    border-radius: 100%;
   }
}
